name: Run .NET Unit Tests Action

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore CustomCADs.slnx

      - name: Build solution
        run: dotnet build CustomCADs.slnx --no-restore --configuration Release

      - name: Run Unit Tests
        working-directory: ./tests/UnitTests
        run: dotnet test ../../CustomCADs.slnx --no-build --configuration Release --logger "trx;LogFileName=unit-tests.trx"
